<style>
#selectable_corks a {cursor:pointer;}
</style>

<p></p>
{% if show %}
<p>Manage the votes!</p>

    {% if basket_class %}

    <h3>{{basket_class.basket.name}}</h3>

    <a href="javascript:;" onclick="makeEmVote('{{basket_class.id}}', '#makeEmVote', '{% url 'classes:change_cork_to_vote_on' %}')" class="btn btn-primary" id="makeEmVote" style="margin-bottom: 10px" data-loading-text="Loading...">Make them Vote!</a>

</br>
    <div class="col-md-7 col-md-offset-1">
      <div id="selectable_corks" class="list-group">
        {% for cork_basket in cork_baskets %}
            {% if cork_basket == basket_class.cork_to_vote_on %}
                {% if basket_class.second_vote %}
                    <a class="list-group-item active" row="{{cork_basket.pk}}">{{cork_basket.cork.question}}
                        <span style="float: right" id="first_second_vote">Second vote</span></a>
                {% else %}
                    <a class="list-group-item active" row="{{cork_basket.pk}}">{{cork_basket.cork.question}}
                    <span style="float: right" id="first_second_vote">First vote</span></a>
                {% endif %}
            {% else %}
                <a class="list-group-item" row="{{cork_basket.pk}}">{{cork_basket.cork.question}}</a>
            {% endif %}
        {% endfor %}
      </div>
    </div>

    {% else %}
    <h4>No baskets were opened for voting. Open Baskets by going to the Basket tab and clicking Edit.</h4>
    {% endif %}



{% else %}
<p>Cannot manage voting for this class!</p>
{% endif %}