<p></p>
{% if not show %}
There are no students enrolled to this class yet.
{% else %}
<div class="row">
  {% for student in students %}
  <div class="col-xs-6 col-md-4" style="margin-left: 18px">
    <div class="panel panel-default">
      <div class="panel-heading">{{ student.first_name }} {{ student.last_name }}
        <a style="float:right" href="javascript:;" onclick="get_tab('{% url 'classes:remove_student_from_class' %}', {{tclass.id}}, 1, {{student.pk}})">remove</a>
      </div>
      <div class="panel-body">
        <p><span class="badge">{{ student.relationships.following.count }}</span>  following</p>
        <p><span class="badge">{{ student.relationships.followers.count }}</span> followers</p>
        <p class="pull-right"><a href="{% url 'accounts:profile' student %}">Go to {{ student.username }}'s page</a></p>
     </div>
   </div>
 </div>
 {% endfor %}

<div class="clearfix"></div>
<div class="pagination" style="margin-left: 33px">
    <span class="step-links">
        {% if students.has_previous %}
            <a href="javascript:;" onclick="get_tab('{% url 'classes:get_students_for_class' %}', {{ tclass.id }}, {{ students.previous_page_number }})">previous</a>
        {% endif %}

        <span class="current">
            Page {{ students.number }} of {{ students.paginator.num_pages }}.
        </span>

        {% if students.has_next %}
            <a href="javascript:;" onclick="get_tab('{% url 'classes:get_students_for_class' %}', {{ tclass.id }}, {{ students.next_page_number }})">next</a>
        {% endif %}
    </span>
</div>
</div>
{% endif %}