<p></p>
{% if not show %}
You must be enrolled to see the baskets in this class.
{% else %}
<div class="row">

  <!-- Edit Basket Order -->
  <!-- Not sure how ordering baskets will work with pagination  -->
  {% if user.pk == tclass.owner.pk and baskets %}
      <button id="classEdit" href="javascript:;"  onclick="edit_baskets_in_class('#classEdit')" type="button" data-loading-text="Editing" class="btn btn-primary btn-default" style="margin-left: 20px; margin-bottom: 10px"><span class="glyphicon glyphicon-th-list"></span> Edit</button>
      <div id="classEditOptions" class="hidden" style="display: inline;">
        <button type="button" style="float:right" data-loading-text="Updating..." class="btn btn-success glyphicon glyphicon-floppy-save">Update</button>
        <button type="button" style="float:right; margin-right: 10px" data-loading-text="Cancel" class="btn btn-warning glyphicon glyphicon-minus">Cancel</button>
        <button type="button" style="float:right; margin-right: 10px" class="btn btn-info glyphicon glyphicon-info-sign" href="javascript:;" onclick="toggle_info('#instructions')"></button>
        <div style="float:right; display: none" id="instructions" class="alert alert-info" animation="" role="alert">
          <p> <span class="glyphicon glyphicon-move"></span> = Order the baskets in your class.</p>
          <p><span class="btn btn-info btn-sm glyphicon glyphicon-bell"></span> = Open your Basket for Voting!</p>
          <p> <span class="btn btn-danger btn-sm glyphicon glyphicon-remove"></span> = Delete the Baskets in your class.</p>
        </div>
        <div class="col-md-6 col-md-offset-2">
          <ul id="sortable_baskets" class="list-group">
           {% for basket in baskets %}
              <li class="list-group-item" row="{{basket.pk}}"><span class="glyphicon glyphicon-move"></span>  {{basket.basket.name}} <button href="javascript:;" id="delete" onclick="delete_basket('{{basket.pk}}')" style="float:right; margin-left: 5px"class="btn btn-danger btn-sm glyphicon glyphicon-remove"></button>
              {% if basket.open_for_voting %}
              <button href="javascript:;" id="vote" onclick="open_basket_voting('{{basket.pk}}')" style="float:right;"class="btn btn-success btn-sm glyphicon glyphicon-pencil" title="Vote!"></button>
              {% else %}
              <button href="javascript:;" id="vote" onclick="open_basket_voting('{{basket.pk}}')" style="float:right;"class="btn btn-info btn-sm glyphicon glyphicon-bell" title="Vote!"></button>
              {% endif %}
              </li>
           {% endfor %}
          </ul>
        </div>
      </br>
      </div>
  {% else %}
  <!-- <p>Can't edit</p> -->
  {% endif %}

  <div id="items" style="clear: both; margin-left: 20px" row="{{tclass.id}}">
    {% for basket in baskets %}
    <div class="item masonry-brick" title="{{basket.basket.pk}}">
      <div class="item-content">
        <div class="description">
        <h3><a href="{% url 'polls:basket_detail' basket.basket.id %}">{{ basket.basket.name}}</a></h3>
        {% if tclass.owner == user %}
          {% if basket.open_for_voting %}
          <kbd>This basket is open for voting</kbd>
          {% else %}
          <!-- <p>This basket is closed for voting</p> -->

          {% endif %}
        {% endif %}
<!--           {% if basket.open_for_voting %}
          <p>Open for voting</p>

          Removing cork question viewability in basket tab

          {% endif %} -->
          {% for cork in basket.basket.corks.all %}
            {% if not cork.private or cork.owner == user  %}
              <li>{{cork.question}}</li>
            {% endif %}
          {% endfor %}

        </div>

        <div class="meta">
          <span>
            <i class="glyphicon glyphicon-calendar"></i>
            {{ basket.basket.update }}
            <i class="glyphicon glyphicon-user"></i>
            <a href="{% url 'accounts:profile' basket.basket.owner %}">{{ basket.basket.owner }}</a>
            <br>
            <i class="glyphicon glyphicon-tag"></i>

            {{ basket.basket.tags.all|join:", " }}

          </span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="clearfix"></div>
  <div class="pagination" style="margin-left: 33px">
    <span class="step-links">
      {% if baskets.has_previous %}
      <a href="javascript:;" onclick="get_tab('{% url 'classes:get_baskets_for_class' %}', {{ tclass.id }}, {{ baskets.previous_page_number }})">previous</a>
      {% endif %}

      <span class="current">
        Page {{ baskets.number }} of {{ baskets.paginator.num_pages }}.
      </span>

      {% if baskets.has_next %}
      <a href="javascript:;" onclick="get_tab('{% url 'classes:get_baskets_for_class' %}', {{ tclass.id }}, {{ baskets.next_page_number }})">next</a>
      {% endif %}
    </span>
  </div>
</div>
{% endif %}