<p></p>

{% if not show %}
  <p>You don't own this class!</p>
{% else %}

  {% if cork %}
      

        <div class="item masonry-brick" id="cork_view">
          <div class="picture">

            {% if cork.image %}<!-- im assuming this can't be called like this just because we extended polls/base_polls?-->
            <center><img alt="" src="{{ cork.image.url }}" style="width:55%; height:100%;"></center>
            {% elif cork.image_url %}
            <a class="btn btn-primary" href="{{cork.image_url}}" style="margin: 30px 0 0 10px">Link to Source</a>
            {% else %}
            <img style="padding-bottom: -20px;">
            {% endif %}

            <div class="item-content">
              <div class="description">
                <h2>{{ cork.question }}</h2>

                <ol type=A style="font-size:18px; margin-bottom: 40px;">
                {% for choice in cork.choice_set.all %}
                  <li style="margin-bottom: 20px;">{{ choice.choice_text }}
                {% endfor %}
                </ol>

              </div>
            </div>
          </div>
        </div>


  {% else %}
      <p>No corks were open for voting.</p>
      
  {% endif %}

    </div>
  </div>

{% endif %}

<script>

</script>
