{% load vote_extras %}

{% if show %}
{% for cork_basket in cork_baskets %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion_corks" href="#collapse_cork{{basket_class.id}}loop{{forloop.counter}}">
          {{cork_basket.cork.question}}
          {% if basket_class.open_for_voting and basket_class.cork_to_vote_on.cork == cork_basket.cork %}
            <kbd style="float:right">Open</kbd>
          {%endif%}
        </a>
      </h5>
    </div>
  </div>

  <div id="collapse_cork{{basket_class.id}}loop{{forloop.counter}}" class="panel-collapse collapse {% if basket_class.open_for_voting and basket_class.cork_to_vote_on.cork == cork_basket.cork %}in{%endif%}">
    <div class="panel-body">
      <!-- Stats for this class -->
      <div class="">
        <strong><u>First Vote</u></strong>
        <table class="table table-bordered table-hover" data-graph-container-before="1" data-graph-type="column" style="display:none">
          <thead>
            <tr>
              <th>Choice</th>
              <th># of Votes</th>
            </tr>
          </thead>
          <tbody>
            {% for choice in cork_basket.cork.choice_set.all %}

            <tr>
              <td>{{choice.choice_text}}</td>
              <td>{{cork_basket|get_votes:choice|filter_voting_round:False}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <strong><u>Second Vote</u></strong>
        <table class="table table-bordered table-hover" data-graph-container-before="1" data-graph-type="column" style="display:none">
          <thead>
            <tr>
              <th>Choice</th>
              <th># of Votes</th>
            </tr>
          </thead>
          <tbody>
            {% for choice in cork_basket.cork.choice_set.all %}

            <tr>
              <td>{{choice.choice_text}}</td>
              <td>{{cork_basket|get_votes:choice|filter_voting_round:True}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
{% endfor %}

{% else %}
<p>Nothing to see here.</p>
{% endif %}