<p></p>
{% for class in classes %}
<div class="col-xs-6 col-md-4" style="margin-left: 18px">
  <div class="panel panel-default">
    <div class="panel-heading">{{ class.name }}</div>
    <div class="panel-body">
        <ul>
            {% for basket in class.baskets.all %}
            <li>{{ basket.name }}</li>
            {% empty %}
            No baskets in this class yet.
            {% endfor %}
        </ul>

        <p class="pull-right"><a href="{% url 'classes:class_detail' class.id %}">Go to {{ class.name }}</a></p>
    </div>
</div>
</div>
{% empty %}
<div class="col-xs-6 col-md-4" style="margin-left: 18px">
    No classes currently {{ relationship }}.
</div>
{% endfor %}

<div class="clearfix"></div>
<div class="pagination" style="margin-left: 33px">
    <span class="step-links">
        {% if classes.has_previous %}
        <a href="javascript:;" onclick="get_tab('{% url 'accounts:user_classes' user relationship %}', {{ classes.previous_page_number }})">previous</a>
        {% endif %}

        <span class="current">
            Page {{ classes.number }} of {{ classes.paginator.num_pages }}.
        </span>

        {% if classes.has_next %}
        <a href="javascript:;" onclick="get_tab('{% url 'accounts:user_classes' user relationship %}', {{ classes.next_page_number }})">next</a>
        {% endif %}
    </span>
</div>
</div>