<p></p>
{% for user in users %}
<div class="col-xs-6 col-md-4" style="margin-left: 18px">
  <div class="panel panel-default">
    <div class="panel-heading">{{ user.last_name }}, {{ user.first_name}}</div>
    <div class="panel-body">
      <p><span class="badge">{{ user.relationships.following.count }}</span>  following</p>
      <p><span class="badge">{{ user.relationships.followers.count }}</span> followers</p>
      <p class="pull-right"><a href="{% url 'accounts:profile' user %}">Go to {{ user.username }}'s page</a></p>
    </div>
  </div>
</div>
{% empty %}
User does not have any {{ relationship }}.
{% endfor %}

<div class="clearfix"></div>
<div class="pagination" style="margin-left: 33px">
    <span class="step-links">
        {% if users.has_previous %}
        <a href="javascript:;" onclick="get_tab('{% url 'accounts:user_relationships' user relationship %}', {{ users.previous_page_number }})">previous</a>
        {% endif %}

        <span class="current">
            Page {{ users.number }} of {{ users.paginator.num_pages }}.
        </span>

        {% if users.has_next %}
        <a href="javascript:;" onclick="get_tab('{% url 'accounts:user_relationships' user relationship %}', {{ users.next_page_number }})">next</a>
        {% endif %}
    </span>
</div>
</div>